@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	background: url('/a/images/bg.png') top left repeat #ebeef2;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #b7bdc3;
}

.stack {
	position: absolute;
	top: 50px;
	right: 85px;
	bottom: 75px;
	left: 85px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 9px rgba(121, 126, 133, 0.15);
	-moz-box-shadow: 0px 0px 9px rgba(121, 126, 133, 0.15);
	box-shadow: 0px 0px 9px rgba(121, 126, 133, 0.15);
}

.stack .layer_1 {
	position: absolute;
	top: -2px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: #fdfeff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(80, 83, 87, 0.25);
	-moz-box-shadow: 0px 1px 2px rgba(80, 83, 87, 0.25);
	box-shadow: 0px 1px 2px rgba(80, 83, 87, 0.25);
}

.stack .layer_1 .layer_2 {
	position: absolute;
	top: -1px;
	bottom: 2px;
	right: -2px;
	left: -2px;
	background-color: #fdfeff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0 rgba(61, 64, 67, 0.2);
	-moz-box-shadow: 0px 1px 0 rgba(61, 64, 67, 0.2);
	box-shadow: 0px 1px 0 rgba(61, 64, 67, 0.2);
}

.stack .layer_1 .layer_2 .layer_3 {
	position: absolute;
	top: 0px;
	bottom: 1px;
	right: -2px;
	left: -2px;
	background-color: #fdfeff;
	border: 1px solid #dcdde1;
	padding: 18px 20px;
	font: normal 15px Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #3a3b3c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.stack .layer_1 .layer_2 .layer_3 .contents {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 6px 0 0;
	border: 1px solid transparent;
	background: transparent;
	resize: none;
	overflow-y: auto;
	white-space: pre-wrap;
	font: normal 15px Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #3a3b3c;
}

.stack .layer_1 .layer_2 .layer_3 .contents.monospace {
	font: normal 12px Monaco, 'Courier New', monospace;
	line-height: 18px;
}

#controls {
	position: absolute;
	height: 25px;
	bottom: 20px;
	right: 0;
	left: 0;
	text-align: center;
}

#controls a {
	color: #9ba0a5;
	text-decoration: none;
	margin: 0 10px;
}

#controls a:hover {
	color: #84878c;
}

#controls a#padlock {
	margin-right: 0;
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity = 65);
	vertical-align: -1px;
}

#controls a#padlock:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity = 100);
}
